.container {
  width: 100%;
  max-width: 1366px;
  height: 350px;
  background-image: url('../../assets/Mask.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}